.time-btn{
    padding-bottom: 50px
}

.btn-pointAB {
    cursor: pointer;
    text-decoration: none !important;
}

.nav-collapsed-min .app-footer {
    margin-left: 0px;
}

.ui-timline-container {
    padding: 25px;
}

.my-title{
  font-family: 'Rancho', cursive;
}

.my-title-large{
  font-family: 'Rancho', cursive;
  font-size: xx-large;
  margin-left: 25%;
}
