<div class="page">

  <div class="ui-timline-container col-md-6 col-sm-12">
      <section class="ui-timeline">

        <article class="tl-item">
            <div class="tl-body">
                <div class="tl-entry time-btn">
                    <div class="tl-time">{{stationA && stationA.stop_name || 'Arrival Train Station'}}</div>

                    <a class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info btn-pointAB" ng-click="pointA()">A</a>
                    <div class="tl-content" ng-show="departure">
                        <form role="form" class="ng-pristine ng-valid">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Train Station</label><br>
                                <span class="ui-select" name="stopSelect" ng-model="stationA">
                                  <select ng-model="stationA"
                                          ng-options="stop.stop_name for stop in stops | orderBy:'stop_name'"
                                          ng-change="pointA()">
                                    <option value="">-- choose station --</option>
                                  </select>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>

        <article class="tl-item alt" ng-repeat="conection in conections">
            <div class="tl-body">
                <div class="tl-entry time-btn">
                    <div class="tl-time"><span>{{conection.stop_name}}</span></div>
                    <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-danger"><i class="fa fa-train"></i></div>
                </div>
            </div>
        </article>

          <article class="tl-item">
              <div class="tl-body">
                  <div class="tl-entry">

                      <div class="tl-time">{{stationB && stationB.stop_name || 'Arrival Train Station'}}</div>

                      <a class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info btn-pointAB" ng-click="pointB()"><i>B</i></a>
                      <div class="tl-content" ng-show="arrival">
                          <form role="form" class="ng-pristine ng-valid">
                              <div class="form-group">
                                  <label for="exampleInputEmail1">Train Station</label><br>
                                  <span class="ui-select">
                                    <select ng-model="stationB"
                                            ng-options="stop.stop_name disable when disableOption(stop) for stop in stops | orderBy:'stop_name'"
                                            ng-change="pointB()">
                                      <option value="">-- choose station --</option>
                                    </select>
                                  </span>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </article>
      </section>
  </div>

  <br>
  <br>

  <div class="col-md-4 col-sm-12">
    <table class="table">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Departure</th>
                  <th>Arrive</th>
                  <th>Duration</th>
              </tr>
          </thead>
          <tbody ng-show="stationA && stationB">
              <tr ng-repeat="stop_t in stop_times_filtered">
                  <td><span class="label label-warning">{{$index}}</span></td>
                  <td><span class="label label-info">{{ stop_t.arrival }}</span></td>
                  <td><span class="label label-info">{{ stop_t.departure }}</span></td>
                  <td><span class="label label-info">{{ stop_t.duration }}min</span></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
