<div class="page">

  <div class="ui-timline-container col-md-6 col-sm-12">
      <section class="ui-timeline">

        <article class="tl-item">
            <div class="tl-body">
                <div class="tl-entry time-btn">
                    <div class="tl-time">{{stationA}}</div>
                    <a class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info btn-pointAB" ng-click="pointA()">A</a>
                    <div class="tl-content" ng-show="departure">
                        <form role="form" class="ng-pristine ng-valid">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Train Station</label><br>
                                <span class="ui-select" name="stopSelect" ng-model="stationA">
                                    <select ng-model="stationA" ng-change="pointA()">
                                        <option ng-disabled="disableOption(stop)"
                                                ng-repeat="stop in stops"
                                                value="{{stop.stop_name}}">{{stop.stop_name}}
                                        </option>
                                    </select>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>

        <article class="tl-item alt">
            <div class="tl-body">
                <div class="tl-entry time-btn">
                    <div class="tl-time"><span>stop 1: Station G</span></div>
                    <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-danger"><i class="fa fa-train"></i></div>
                </div>
            </div>
        </article>

        <article class="tl-item alt">
            <div class="tl-body">
                <div class="tl-entry time-btn">
                    <div class="tl-time"><span>stop 2: Station H</span></div>
                    <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-danger"><i class="fa fa-train"></i></div>
                </div>
            </div>
        </article>


        <article class="tl-item alt">
            <div class="tl-body">
                <div class="tl-entry time-btn">
                    <div class="tl-time"><span>stop 3: Station I</span></div>
                    <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-danger"><i class="fa fa-train"></i></div>
                </div>
            </div>
        </article>

          <article class="tl-item">
              <div class="tl-body">
                  <div class="tl-entry">
                      <div class="tl-time">{{stationB}}</div>
                      <a class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info btn-pointAB" ng-click="pointB()"><i>B</i></a>
                      <div class="tl-content" ng-show="arrival">
                          <form role="form" class="ng-pristine ng-valid">
                              <div class="form-group">
                                  <label for="exampleInputEmail1">Train Station</label><br>
                                  <span class="ui-select">
                                      <select ng-model="stationB" ng-change="pointB()">
                                        <option ng-disabled="disableOption(stop)"
                                                ng-repeat="stop in stops"
                                                value="{{stop.stop_name}}">{{stop.stop_name}}
                                        </option>
                                      </select>
                                  </span>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </article>
      </section>
  </div>

  <br>
  <br>

  <div class="col-md-4 col-sm-12">
    <table class="table">
          <thead>
              <tr>
                  <th>Train</th>
                  <th>Time</th>
                  <th>Duration</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><span class="color-success"><i class="fa fa-level-up"></i></span> TWLT</td>
                  <td><span class="label label-info">13h</span></td>
                  <td><span class="label label-info">1h5min</span></td>
              </tr>

              <tr>
                  <td><span class="color-success"><i class="fa fa-level-up"></i></span> FDAS</td>
                  <td><span class="label label-info">13h15min</span></td>
                  <td><span class="label label-info">1h5min</span></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
